:root {
  --border-xsmall-mobile-width: 1px;
  --border-xsmall-tablet-width: 1px;
  --border-xsmall-desktop-width: 1px;
  --border-small-mobile-width: 2px;
  --border-small-tablet-width: 2px;
  --border-small-desktop-width: 2px;
  --border-medium-mobile-width: 4px;
  --border-medium-tablet-width: 4px;
  --border-medium-desktop-width: 4px;
  --border-large-mobile-width: 6px;
  --border-large-tablet-width: 12px;
  --border-large-desktop-width: 12px;
  --border-xlarge-mobile-width: 12px;
  --border-xlarge-tablet-width: 24px;
  --border-xlarge-desktop-width: 24px;
  --breakpoints-tablet-minWidth: 768px;
  --breakpoints-desktop-minWidth: 1536px;
  --color-background: #FFFFFF;
  --color-background-front: #FFFFFF;
  --color-background-back: #F7F7F7;
  --color-background-contrast: #0000000A;
  --color-background-layer-overlay: #00000080;
  --color-background-validation-critical: #C54E4B;
  --color-background-validation-warning: #FEC901;
  --color-background-validation-ok: #01A982;
  --color-background-selected: #01A982;
  --color-background-active: #0000000A;
  --color-brand: #01A982;
  --color-border: #0000005C;
  --color-border-strong: #000000B8;
  --color-border-weak: #0000001F;
  --color-status-critical: #C54E4B;
  --color-status-warning: #FEC901;
  --color-status-ok: #01A982;
  --color-status-unknown: #CCCCCC;
  --color-text: #6F6F6F;
  --color-text-strong: #444444;
  --color-text-weak: #757575;
  --color-text-xweak: #BBBBBB;
  --color-text-disabled: #757575;
  --color-text-selected: #FFFFFF;
  --color-text-active: #444444;
  --color-dataviz-single: #995AFF;
  --color-dataviz-qualitative-1: #00739D;
  --color-dataviz-qualitative-2: #995AFF;
  --color-dataviz-qualitative-3: #FF8300;
  --color-dataviz-qualitative-4: #00FFE5;
  --color-dataviz-qualitative-5: #FFD829;
  --color-dataviz-qualitative-6: #FF7CB0;
  --color-dataviz-qualitative-7: ;
  --color-dataviz-sequential-0: #00FFA520;
  --color-dataviz-sequential-20: #17EBA040;
  --color-dataviz-sequential-30: #13D89680;
  --color-dataviz-sequential-50: #0FC68B;
  --color-dataviz-sequential-70: #0CB682C0;
  --color-dataviz-sequential-80: #059872;
  --color-dataviz-sequential-100: #00775C;
  --color-dataviz-divergent-negative100: #FF8300;
  --color-dataviz-divergent-negative70: #F9C894;
  --color-dataviz-divergent-negative30: #F6EBDF;
  --color-dataviz-divergent-center: #D9E2C6;
  --color-dataviz-divergent-positive30: #D6FAF6;
  --color-dataviz-divergent-positive70: #A3FDF4;
  --color-dataviz-divergent-positive100: #82FFF2;
  --color-focus: ;
  --content-xxsmall: 48px;
  --content-xsmall: 96px;
  --content-small: 192px;
  --content-medium: 384px;
  --content-large: 768px;
  --content-xlarge: 1152px;
  --content-xxlarge: 1536px;
  --elevation-small-boxShadow: 0px 2px 4px #0000001F;
  --elevation-medium-boxShadow: 0px 6px 12px #0000001F;
  --elevation-large-boxShadow: 0px 12px 24px #0000003D;
  --font-fontFamily: Metric, Arial, sans-serif;
  --font-light-url: https://www.hpe.com/h41225/hfws-static/fonts/metric-hpe-web/MetricHPE-Web-Light.woff2;
  --font-light-fontWeight: 300;
  --font-regular-url: https://www.hpe.com/h41225/hfws-static/fonts/metric-hpe-web/MetricHPE-Web-Regular.woff2;
  --font-regular-fontWeight: 400;
  --font-medium-url: https://www.hpe.com/h41225/hfws-static/fonts/metric-hpe-web/MetricHPE-Web-Medium.woff2;
  --font-medium-fontWeight: 500;
  --font-semibold-url: https://www.hpe.com/h41225/hfws-static/fonts/metric-hpe-web/MetricHPE-Web-Semibold.woff2;
  --font-semibold-fontWeight: 600;
  --font-bold-url: https://www.hpe.com/h41225/hfws-static/fonts/metric-hpe-web/MetricHPE-Web-Bold.woff2;
  --font-bold-fontWeight: 700;
  --font-black-fontWeight: 900;
  --opacity-disabled: 0.3;
  --radius-none: 0px;
  --radius-xsmall: 1px;
  --radius-small: 3px;
  --radius-medium: 6px;
  --radius-large: 12px;
  --radius-xlarge: 24px;
  --radius-full: 2em;
  --spacing-3xsmall-mobile: 1px;
  --spacing-3xsmall-tablet: 1px;
  --spacing-3xsmall-desktop: 1px;
  --spacing-xxsmall-mobile: 2px;
  --spacing-xxsmall-tablet: 3px;
  --spacing-xxsmall-desktop: 3px;
  --spacing-xsmall-mobile: 3px;
  --spacing-xsmall-tablet: 6px;
  --spacing-xsmall-desktop: 6px;
  --spacing-small-mobile: 6px;
  --spacing-small-tablet: 12px;
  --spacing-small-desktop: 12px;
  --spacing-medium-mobile: 12px;
  --spacing-medium-tablet: 24px;
  --spacing-medium-desktop: 24px;
  --spacing-large-mobile: 24px;
  --spacing-large-tablet: 48px;
  --spacing-large-desktop: 48px;
  --spacing-xlarge-mobile: 48px;
  --spacing-xlarge-tablet: 96px;
  --spacing-xlarge-desktop: 96px;
  --anchor-color: #444444;
  --anchor-textDecoration: underline;
  --anchor-fontWeight: 500;
  --anchor-hover-textDecoration: underline;
  --anchor-icon-color: #01A982;
  --anchor-xsmall-mobile-fontSize: 0.875rem;
  --anchor-xsmall-tablet-fontSize: 0.875rem;
  --anchor-xsmall-desktop-fontSize: 0.875rem;
  --anchor-small-mobile-fontSize: 0.875rem;
  --anchor-small-tablet-fontSize: 0.875rem;
  --anchor-small-desktop-fontSize: 1rem;
  --anchor-medium-mobile-fontSize: 0.875rem;
  --anchor-medium-tablet-fontSize: 1rem;
  --anchor-medium-desktop-fontSize: 1.125rem;
  --anchor-large-mobile-fontSize: 1rem;
  --anchor-large-tablet-fontSize: 1.125rem;
  --anchor-large-desktop-fontSize: 1.5rem;
  --anchor-large-desktop-fontWeight: 700;
  --anchor-large-color: #01A982;
  --anchor-large-textDecoration: none;
  --anchor-xlarge-mobile-fontSize: 1.125rem;
  --anchor-xlarge-tablet-fontSize: 1.5rem;
  --anchor-xlarge-tablet-fontWeight: 300;
  --anchor-xlarge-desktop-fontSize: 1.875rem;
  --anchor-xlarge-desktop-fontWeight: 700;
  --anchor-xlarge-color: #01A982;
  --anchor-xlarge-textDecoration: none;
  --button-borderRadius: 2em;
  --button-hover-background: #0000000A;
  --button-active-background: #0000000A;
  --button-selected-background: #01A982;
  --button-disabled-opacity: 0.3;
  --button-xsmall-mobile-fontSize: 0.875rem;
  --button-xsmall-tablet-fontSize: 0.875rem;
  --button-xsmall-desktop-fontSize: 0.875rem;
  --button-xsmall-paddingTop: 6px;
  --button-xsmall-paddingBottom: 6px;
  --button-xsmall-paddingLeft: 16px;
  --button-xsmall-paddingRight: 16px;
  --button-xsmall-iconOnly-padding: 8px;
  --button-small-mobile-fontSize: 0.875rem;
  --button-small-tablet-fontSize: 0.875rem;
  --button-small-desktop-fontSize: 1rem;
  --button-small-paddingTop: 6px;
  --button-small-paddingBottom: 6px;
  --button-small-paddingLeft: 18px;
  --button-small-paddingRight: 18px;
  --button-small-iconOnly-padding: 10px;
  --button-medium-mobile-fontSize: 0.875rem;
  --button-medium-tablet-fontSize: 1rem;
  --button-medium-desktop-fontSize: 19px;
  --button-medium-desktop-lineHeight: 24px;
  --button-medium-paddingTop: 6px;
  --button-medium-paddingBottom: 6px;
  --button-medium-paddingLeft: 18px;
  --button-medium-paddingRight: 18px;
  --button-medium-iconOnly-padding: 10px;
  --button-medium-toolbar-paddingTop: 6px;
  --button-medium-toolbar-paddingBottom: 6px;
  --button-medium-toolbar-paddingLeft: 12px;
  --button-medium-toolbar-paddingRight: 12px;
  --button-large-mobile-fontSize: 1rem;
  --button-large-tablet-fontSize: 1.125rem;
  --button-large-desktop-fontSize: 1.5rem;
  --button-large-desktop-fontWeight: 300;
  --button-large-paddingTop: 8px;
  --button-large-paddingBottom: 8px;
  --button-large-paddingLeft: 24px;
  --button-large-paddingRight: 24px;
  --button-large-iconOnly-padding: 12px;
  --button-xlarge-mobile-fontSize: 1.125rem;
  --button-xlarge-tablet-fontSize: 1.5rem;
  --button-xlarge-tablet-fontWeight: 300;
  --button-xlarge-desktop-fontSize: 1.875rem;
  --button-xlarge-desktop-fontWeight: 300;
  --button-xlarge-paddingTop: 18px;
  --button-xlarge-paddingBottom: 18px;
  --button-xlarge-paddingLeft: 30px;
  --button-xlarge-paddingRight: 30px;
  --button-xlarge-iconOnly-padding: 21px;
  --button-cta-primary-background: #01A982;
  --button-cta-primary-hover-background: ;
  --button-cta-primary-color: #FFFFFF;
  --button-primary-background: linear-gradient(70deg, transparent, #01A982 35%, transparent 70%) #01A982;
  --button-primary-hover-backgroundColor: #008567;
  --button-primary-color: #fff;
  --button-option-borderRadius: 0px;
  --button-option-paddingLeft-mobile: 6px;
  --button-option-paddingLeft-tablet: 12px;
  --button-option-paddingLeft-desktop: 12px;
  --button-option-paddingRight-mobile: 6px;
  --button-option-paddingRight-tablet: 12px;
  --button-option-paddingRight-desktop: 12px;
  --button-option-paddingTop-mobile: 3px;
  --button-option-paddingTop-tablet: 6px;
  --button-option-paddingTop-desktop: 6px;
  --button-option-paddingBottom-mobile: 3px;
  --button-option-paddingBottom-tablet: 6px;
  --button-option-paddingBottom-desktop: 6px;
  --button-option-selected-background: #01A982;
  --button-option-selected-color: #FFFFFF;
  --button-option-selected-fontWeight: 700;
  --button-option-fontWeight: 500;
  --button-secondary-borderWidth-mobile-width: 2px;
  --button-secondary-borderWidth-tablet-width: 2px;
  --button-secondary-borderWidth-desktop-width: 2px;
  --button-secondary-borderColor: #01A982;
  --button-secondary-active-borderColor: transparent;
  --button-secondary-hover-borderWidth: 3px;
  --button-secondary-hover-background: none;
  --button-toolbar-borderRadius: 6px;
  --button-badge-background: #444444;
  --button-badge-label-fontSize: 0.875rem;
  --button-color: #444444;
  --button-fontWeight: 700;
  --card-background: #FFFFFF;
  --card-boxShadow: 0px 6px 12px #0000001F;
  --card-borderRadius: 12px;
  --card-padding-mobile: 12px;
  --card-padding-tablet: 24px;
  --card-padding-desktop: 24px;
  --dataTable-cell-paddingTop: 24px;
  --dataTable-cell-paddingBottom: 24px;
  --dataTable-cell-paddingLeft: 12px;
  --dataTable-cell-paddingRight: 12px;
  --dataTable-header-cell-color: #444444;
  --dataTable-header-cell-fontWeight: 500;
  --dataTable-body-cell-borderWidth: 1px;
  --dataTable-body-cell-borderColor: #0000001F;
  --drop-zIndex: 99;
  --drop-background: #FFFFFF;
  --heading-1-desktop-fontSize: 2.25rem;
  --heading-1-desktop-fontWeight: font.weight.regular;
  --heading-1-tablet-fontSize: 1.5rem;
  --heading-1-tablet-fontWeight: font.weight.medium;
  --heading-1-mobile-fontSize: 1.25rem;
  --heading-1-mobile-fontWeight: font.weight.medium;
  --heading-2-desktop-fontSize: 1.5rem;
  --heading-2-desktop-fontWeight: font.weight.regular;
  --heading-2-tablet-fontSize: 1.25rem;
  --heading-2-tablet-fontWeight: font.weight.medium;
  --heading-2-mobile-fontSize: 1rem;
  --heading-2-mobile-fontWeight: font.weight.semibold;
  --heading-3-desktop-fontSize: 1.25rem;
  --heading-3-desktop-fontWeight: font.weight.medium;
  --heading-3-tablet-fontSize: 1rem;
  --heading-3-tablet-fontWeight: font.weight.semibold;
  --heading-3-mobile-fontSize: 1rem;
  --heading-3-mobile-fontWeight: font.weight.semibold;
  --heading-color: #444444;
  --heading-lineHeight: 1;
  --icon-small-height: 1rem;
  --icon-medium-height: 1.125rem;
  --icon-large-height: 1.5rem;
  --icon-xlarge-height: 1.875rem;
  --icon-xxlarge-height: 2.25rem;
  --input-borderColor: #0000005C;
  --input-borderColor-strong: #000000B8;
  --input-borderColor-weak: #0000001F;
  --input-borderRadius: 6px;
  --input-borderSize-width: 1px;
  --input-paddingTop: 6px;
  --input-paddingBottom: 6px;
  --input-paddingLeft: 12px;
  --input-paddingRight: 12px;
  --input-placeholder-color: #BBBBBB;
  --input-placeholder-fontWeight: 400;
  --input-value-color: #444444;
  --input-value-fontWeight: 500;
  --layer-background: #FFFFFF;
  --layer-background-front: #FFFFFF;
  --layer-background-back: #F7F7F7;
  --layer-background-contrast: #0000000A;
  --layer-background-layer-overlay: #00000080;
  --layer-background-validation-critical: #C54E4B;
  --layer-background-validation-warning: #FEC901;
  --layer-background-validation-ok: #01A982;
  --layer-background-selected: #01A982;
  --layer-background-active: #0000000A;
  --layer-borderRadius: 3px;
  --layer-boxShadow: 0px 12px 24px #0000003D;
  --layer-overlay-background: #00000080;
  --namevaluepair-name-color: #444444;
  --namevaluepair-name-fontWeight: 500;
  --page-minWidth: 384px;
  --page-narrow-maxWidth: 768px;
  --page-wide-maxWidth: 1536px;
  --pageContent-padding-mobile: 12px;
  --pageContent-padding-tablet: 24px;
  --pageContent-padding-desktop: 24px;
  --pageheader-subtitle-typography-mobile-fontSize: 1.125rem;
  --pageheader-subtitle-typography-tablet-fontSize: 1.5rem;
  --pageheader-subtitle-typography-tablet-fontWeight: 300;
  --pageheader-subtitle-typography-desktop-fontSize: 1.875rem;
  --pageheader-subtitle-typography-desktop-fontWeight: 300;
  --tab-borderWidth: 4px;
  --tab-color: color.text.default;
  --tab-hover-borderColor: #0000001F;
  --tab-selected-borderColor: #01A982;
  --tab-selected-color: #444444;
  --tab-selected-fontWeight: 700;
  --text-lineHeight: 1.25;
  --text-color: #6F6F6F;
  --text-color-strong: #444444;
  --text-color-weak: #757575;
  --text-color-xweak: #BBBBBB;
  --text-color-disabled: #757575;
  --text-color-selected: #FFFFFF;
  --text-color-active: #444444;
  --text-xsmall-mobile-fontSize: 0.875rem;
  --text-xsmall-tablet-fontSize: 0.875rem;
  --text-xsmall-desktop-fontSize: 0.875rem;
  --text-small-mobile-fontSize: 0.875rem;
  --text-small-tablet-fontSize: 0.875rem;
  --text-small-desktop-fontSize: 1rem;
  --text-medium-mobile-fontSize: 0.875rem;
  --text-medium-tablet-fontSize: 1rem;
  --text-medium-desktop-fontSize: 1.125rem;
  --text-large-mobile-fontSize: 1rem;
  --text-large-tablet-fontSize: 1.125rem;
  --text-large-desktop-fontSize: 1.5rem;
  --text-large-desktop-fontWeight: 300;
  --text-xlarge-mobile-fontSize: 1.125rem;
  --text-xlarge-tablet-fontSize: 1.5rem;
  --text-xlarge-tablet-fontWeight: 300;
  --text-xlarge-desktop-fontSize: 1.875rem;
  --text-xlarge-desktop-fontWeight: 300;
  --text-xxlarge-mobile-fontSize: 1.5rem;
  --text-xxlarge-mobile-fontWeight: 300;
  --text-xxlarge-tablet-fontSize: 1.875rem;
  --text-xxlarge-tablet-fontWeight: 300;
  --text-xxlarge-desktop-fontSize: 2.25rem;
  --text-xxlarge-desktop-fontWeight: 300;
  --text-3xl-mobile-fontSize: 1.875rem;
  --text-3xl-mobile-fontWeight: 300;
  --text-3xl-tablet-fontSize: 2.25rem;
  --text-3xl-tablet-fontWeight: 300;
  --text-3xl-desktop-fontSize: 2.625rem;
  --text-3xl-desktop-fontWeight: 300;
  --text-4xl-mobile-fontSize: 2.25rem;
  --text-4xl-mobile-fontWeight: 300;
  --text-4xl-tablet-fontSize: 2.625rem;
  --text-4xl-tablet-fontWeight: 300;
  --text-4xl-desktop-fontSize: 3rem;
  --text-4xl-desktop-fontWeight: 300;
  --text-5xl-mobile-fontSize: 2.625rem;
  --text-5xl-mobile-fontWeight: 300;
  --text-5xl-tablet-fontSize: 3rem;
  --text-5xl-tablet-fontWeight: 300;
  --text-5xl-desktop-fontSize: 4.5rem;
  --text-5xl-desktop-fontWeight: 300;
  --text-6xl-mobile-fontSize: 2.625rem;
  --text-6xl-mobile-fontWeight: 300;
  --text-6xl-tablet-fontSize: 3rem;
  --text-6xl-tablet-fontWeight: 300;
  --text-6xl-desktop-fontSize: 4.5rem;
  --text-6xl-desktop-fontWeight: 300;
}