:root {
  --color-background: #1C1C1C;
  --color-background-front: #222222;
  --color-background-back: #1C1C1C;
  --color-background-contrast: #FFFFFF0F;
  --color-background-validation-critical: #CC1F1A4D;
  --color-background-validation-warning: #D891284D;
  --color-background-validation-ok: #17D0A64D;
  --color-background-active: #FFFFFF0F;
  --color-border: #FFFFFF5C;
  --color-border-strong: #FFFFFFB8;
  --color-border-weak: #FFFFFF1F;
  --color-status-critical: #D04F4E;
  --color-status-warning: #9B6310;
  --color-status-ok: #008567;
  --color-status-unknown: #555555;
  --color-text: #FFFFFFE6;
  --color-text-strong: #FFFFFFF5;
  --color-text-weak: #FFFFFF80;
  --color-text-xweak: #FFFFFF33;
  --color-text-disabled: #FFFFFF80;
  --color-text-active: #FFFFFFF5;
  --anchor-color: #FFFFFFF5;
  --anchor-label-color: #FFFFFFE6;
  --anchor-label-color-strong: #FFFFFFF5;
  --anchor-label-color-weak: #FFFFFF80;
  --anchor-label-color-xweak: #FFFFFF33;
  --anchor-label-color-disabled: #FFFFFF80;
  --anchor-label-color-active: #FFFFFFF5;
  --button-hover-background: #FFFFFF0F;
  --button-active-background: #FFFFFF0F;
  --button-badge-background: #FFFFFFF5;
  --calendar-title-color: #FFFFFFF5;
  --card-background: #222222;
  --checkbox-borderColor: #FFFFFF5C;
  --checkbox-borderColor-strong: #FFFFFFB8;
  --checkbox-borderColor-weak: #FFFFFF1F;
  --checkbox-hover-background: #FFFFFF0F;
  --checkbox-toggle-background: #1C1C1C;
  --checkbox-toggle-background-front: #222222;
  --checkbox-toggle-background-back: #1C1C1C;
  --checkbox-toggle-background-contrast: #FFFFFF0F;
  --checkbox-toggle-background-validation-critical: #CC1F1A4D;
  --checkbox-toggle-background-validation-warning: #D891284D;
  --checkbox-toggle-background-validation-ok: #17D0A64D;
  --checkbox-toggle-background-active: #FFFFFF0F;
  --checkbox-toggle-knob-borderColor: #FFFFFF5C;
  --checkbox-toggle-knob-borderColor-strong: #FFFFFFB8;
  --checkbox-toggle-knob-borderColor-weak: #FFFFFF1F;
  --datatable-header-borderBottomColor: #FFFFFF5C;
  --datatable-header-borderBottomColor-strong: #FFFFFFB8;
  --datatable-header-borderBottomColor-weak: #FFFFFF1F;
  --datatable-header-color: #FFFFFFF5;
  --datatable-header-cell-hover-background: #FFFFFF0F;
  --datatable-header-cell-units-color: #FFFFFF80;
  --datatable-body-cell-primary-color: #FFFFFFF5;
  --formfield-focus-borderColor: #FFFFFFB8;
  --formfield-error-borderColor: #FFFFFFB8;
  --formfield-error-backgroundColor: #CC1F1A4D;
  --formfield-label-color: #FFFFFFE6;
  --formfield-label-color-strong: #FFFFFFF5;
  --formfield-label-color-weak: #FFFFFF80;
  --formfield-label-color-xweak: #FFFFFF33;
  --formfield-label-color-disabled: #FFFFFF80;
  --formfield-label-color-active: #FFFFFFF5;
  --formfield-info-color: #FFFFFFE6;
  --formfield-info-color-strong: #FFFFFFF5;
  --formfield-info-color-weak: #FFFFFF80;
  --formfield-info-color-xweak: #FFFFFF33;
  --formfield-info-color-disabled: #FFFFFF80;
  --formfield-info-color-active: #FFFFFFF5;
  --formfield-help-color: #FFFFFFE6;
  --formfield-help-color-strong: #FFFFFFF5;
  --formfield-help-color-weak: #FFFFFF80;
  --formfield-help-color-xweak: #FFFFFF33;
  --formfield-help-color-disabled: #FFFFFF80;
  --formfield-help-color-active: #FFFFFFF5;
  --heading-color: #FFFFFFF5;
  --input-borderColor: #FFFFFF5C;
  --input-borderColor-strong: #FFFFFFB8;
  --input-borderColor-weak: #FFFFFF1F;
  --input-placeholder-color: #FFFFFF33;
  --input-value-color: #FFFFFFF5;
  --layer-background: #1C1C1C;
  --layer-background-front: #222222;
  --layer-background-back: #1C1C1C;
  --layer-background-contrast: #FFFFFF0F;
  --layer-background-validation-critical: #CC1F1A4D;
  --layer-background-validation-warning: #D891284D;
  --layer-background-validation-ok: #17D0A64D;
  --layer-background-active: #FFFFFF0F;
  --namevaluepair-name-color: #FFFFFFF5;
  --notification-color: #FFFFFFF5;
  --notification-critical-background: #CC1F1A4D;
  --notification-critical-toast-background: #222222;
  --notification-info-background: #FFFFFF0F;
  --notification-info-toast-background: #222222;
  --notification-ok-background: #17D0A64D;
  --notification-ok-toast-background: #222222;
  --notification-unknown-background: #FFFFFF0F;
  --notification-unknown-toast-background: #222222;
  --notification-warning-background: #D891284D;
  --notification-warning-toast-background: #222222;
  --text-color: #FFFFFFE6;
  --text-color-strong: #FFFFFFF5;
  --text-color-weak: #FFFFFF80;
  --text-color-xweak: #FFFFFF33;
  --text-color-disabled: #FFFFFF80;
  --text-color-active: #FFFFFFF5;
}