:root {
  --color-background: #1C1C1C;
  --color-background-front: #222222;
  --color-background-back: #1C1C1C;
  --color-background-contrast: #FFFFFF0F;
  --color-background-validation-critical: #CC1F1A4D;
  --color-background-validation-warning: #D891284D;
  --color-background-validation-ok: #17D0A64D;
  --color-background-active: #FFFFFF0F;
  --color-border: #FFFFFF5C;
  --color-border-strong: #FFFFFFB8;
  --color-border-weak: #FFFFFF1F;
  --color-status-critical: #D04F4E;
  --color-status-warning: #9B6310;
  --color-status-ok: #008567;
  --color-status-unknown: #555555;
  --color-text: #FFFFFFE6;
  --color-text-strong: #FFFFFFF5;
  --color-text-weak: #FFFFFF80;
  --color-text-xweak: #FFFFFF33;
  --color-text-disabled: #FFFFFF80;
  --color-text-active: #FFFFFFF5;
  --anchor-color: #FFFFFFF5;
  --anchor-label-color: #FFFFFFE6;
  --anchor-label-color-strong: #FFFFFFF5;
  --anchor-label-color-weak: #FFFFFF80;
  --anchor-label-color-xweak: #FFFFFF33;
  --anchor-label-color-disabled: #FFFFFF80;
  --anchor-label-color-active: #FFFFFFF5;
  --button-hover-background: #FFFFFF0F;
  --button-active-background: #FFFFFF0F;
  --button-badge-background: #FFFFFFF5;
  --card-background: #222222;
  --heading-color: #FFFFFFF5;
  --input-borderColor: #FFFFFF5C;
  --input-borderColor-strong: #FFFFFFB8;
  --input-borderColor-weak: #FFFFFF1F;
  --input-placeholder-color: #FFFFFF33;
  --input-value-color: #FFFFFFF5;
  --layer-background: #1C1C1C;
  --layer-background-front: #222222;
  --layer-background-back: #1C1C1C;
  --layer-background-contrast: #FFFFFF0F;
  --layer-background-validation-critical: #CC1F1A4D;
  --layer-background-validation-warning: #D891284D;
  --layer-background-validation-ok: #17D0A64D;
  --layer-background-active: #FFFFFF0F;
  --namevaluepair-name-color: #FFFFFFF5;
  --text-color: #FFFFFFE6;
  --text-color-strong: #FFFFFFF5;
  --text-color-weak: #FFFFFF80;
  --text-color-xweak: #FFFFFF33;
  --text-color-disabled: #FFFFFF80;
  --text-color-active: #FFFFFFF5;
}